.booth{
    widht: 400px;
    background-color: #ccc;
    margin: 0px auto;
    border:10px solid #ddd;

}
.booth-capture-button{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    text-decoration: none;
}
#canvas {
    display: none;
}