/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2015, 12:28:06 PM
    Author     : shehbaz
*/


.field{
    font-size: 18px;
    color: red;
}